body{
	border-style: dashed;
	border-width: 5px;
	border-color: #FF69B4;


}


div{
    font-family:Roboto;
    font-size: 20px;
    width: 70%;
    line-height: 26px;
    margin: 0 auto;
}



h1.titel1{
	font-size:36px;	
	
}


p.andere{
	font-size:32px;
	line-height: 32px;
}

h2.titel2{
	font-size:32px;
	line-height:32px;
}

img {
	margin-left: 40px;
	height:75%;
	width:75%;
}



.tip {
	background-color: 	#def6ed ;
	padding: 15px;
	border-radius: 4px;
	margin-top: 25px;
	width: 750px;

}

.nav {
	position: fixed;
	top:0;
	left:0;
	display: inline-block;
	width: 100%; 
	background-color: 	#FF1493;
	color: #FF69B4;
	text-align: center;
	padding: 10px 0 20px 0; 
	box-shadow: 0 22px 22px 0 rgba(0, 0, 0, 0.2);
	margin-top: 0px;
}
